.App {
  text-align: center;
}

.page {
  text-align: left;
  margin-left: 0;
}
.page-content h1 {
  justify-content: center;
  align-items: center;
  text-align: center;
  font-size: 3.0vw;
  /* margin-left: 0; */
  margin-top: 8%;
  color: #000000;
}
.page-content h2 {
  font-size: 2.0vw;
}

.site-header {
  position: fixed;
  display: flex;
  align-items: center;
  flex-direction: row;
  margin-top: 0;
  width: 100%;
  background-color: #0639a7;
}

.site-header img {
  width: 10vw;
  margin-left: 1%;
  margin-top: 0.5vh;
  margin-bottom: 0.5vw;
}

.nav-bar-buttons-events {
  margin-left: 15%;
  margin-top: 1%;
  margin-bottom: 1%;
  width: 20vw;
  /* font-size: 18px !important; */
  font-size: 1.8vw !important;
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif !important;
  padding: 7 30px;
  outline: none;
  border: none !important;
  border-radius: 20px;
  cursor: pointer;
  background-color: #ffffff00 !important;
  color: #ffffff !important;
  transition: font-size 0.3s ease; /* Smooth transition for background color */
}
.nav-bar-buttons-events:hover {
  font-size: 2.0vw !important; 
  
  /*background-color: #00529f10 !important; /* Change background color on hover */
  color: #000; /* Change text color on hover */
}

.nav-bar-buttons {
  justify-content: center !important;
  align-items: center !important;
  margin-left: 0%;  margin-top: 1%;
  margin-bottom: 1%;
  height: 40%;
  width: 15vw;
  font-size: 1.8vw !important;
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif !important;
  padding: 7px 30px; /* Adjusted padding for clarity */
  outline: none;
  border: none !important;
  border-radius: 20px;
  cursor: pointer;
  background-color: #ffffff00 !important;
  color: #ffffff !important;
  transition: background-color 0.3s ease; /* Smooth transition for background color */
}

.nav-bar-buttons:hover {
  font-size: 2.0vw !important; 

  /* background-color: #f42a2a !important; Change background color on hover */
  color: #000; /* Change text color on hover */
}

.page-content {
  /* margin-left: 1.5%; */
}

.resources {
  margin-bottom: 0;
}

.resources h2 {
  color:black;
  font-size: 2.0vw;
}
.resources h3 {
  color:black;
  font-size: 1.5vw;
}

.resources li {
  color: black;
  font-size: 1.2vw;
}

.resources-columns {
  
  align-items: center;
  
  display: flex;
  flex-direction: column;

}

.events {
  width: 80vw;
  margin-bottom: 6vh;
}

.events h2 {
  font-size: 2.0vw;
}

.events h3 {
  font-size: 1.2vw;
}

.events p {
  font-size: 1.3vw;
  
}

.events br {
  height: 5vh;
}





